@mixin headerBtns {
  border-radius: 3px;
  // vertical-align: middle;
  line-height: 11px;
  font-weight: 700;
}

.topHeader {
  margin-top: 8px;
  padding-inline: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 33px;
  //first part of the top header
  .topNavigation {
    flex: 1;
    display: flex;
    align-items: center;
    & > * {
      margin-right: 7px;
    }
    .searchInputAndClearButton {
      border-radius: 3px 0px 0px 3px;
      border: 1px solid rgb(190, 190, 190);
      display: inline-block;
      margin-right: 7px;
      border-radius: 3px;
      .searchInput {
        height: 33px;
        outline: 0;
        padding-left: 16px;
        border: none;
      }
      .clearInputbtn {
        @include headerBtns;
      }
    }

    .btnShowSearch {
      background-color: #f7f7f7;
      color: black;
      padding: 8px 9px 9px;
      height: 33px;
      border-radius: 3px;
      @include headerBtns;
    }
    .btnSearch {
      @include headerBtns;
      padding: 8px 9px 9px;
      color: #fff;
      background-color: #567b95;
      border: 1px solid #326891;
      font-weight: bold;
      height: 33px;
      padding: 8px 9px 6px;
      font-size: 10px;
    }
  }
  // 2nd part of the top header
  .languageSection {
    flex: 1;
    .languages {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-size: 10px;
      text-align: center;
      li {
        display: inline-block;
        margin-inline: 5px;
        cursor: pointer;
      }
    }
  }
  .subsLogin {
    flex: 1;
    font-size: 11px;
    text-align: end;
    a {
      @include headerBtns;
      padding: 8px 12px;
      background-color: #567b95;
      border: 1px solid #326891;
      height: 11px;
      color: #fff;
      &:nth-child(2) {
        margin-left: 7px;
      }
    }
  }
}

// helpers
.hide {
  display: none;
}
.show {
  display: block;
}
