@import "./mixins.scss";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

button {
  background-color: unset;
  border: unset;
  cursor: pointer;
}
html {
  padding-inline: 12rem !important;

  @include respond(phone) {
    padding-inline: 1rem !important;
  }
  @include respond(tab-port) {
    padding-inline: 1rem !important;
  }
  @include respond(tab-land) {
    padding-inline: 1rem !important;
  }
}
ul,
form {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
