@import url("https://fonts.googleapis.com/css2?family=Domine:wght@600&family=Lora:wght@500&display=swap");

$lora:"Lora";
$domine:"Domine";
$p-color: #5a5a5a;
$border: rgb(192, 192, 192);
$size-medium: 13.7px;
