@import "../../../../styles/mixins.scss";

.desktopHeader {
  @include respond(tab-land) {
    display: none;
  }
}
.mobileHeader {
  height: 5rem;
  @include respond(minPhone) {
    display: none;
  }
}

.HeadertopSection {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 33px;
  //first part of the top header
  .topNavigation {
    flex: 1;
    display: flex;
    align-items: center;
    .btnShowSearch,
    .btnMenu {
      padding: 8px 9px 9px;
      height: 33px;
      color: #333;
      font-size: 14px;
      margin-right: 7px;
      transition: 0.4s ease-in-out;
      @include headerBtns;
      &:hover {
        background-color: #f7f7f7;
      }
    }
  }
  // 2nd part of the top header
  .languageSection {
    flex: 1;
    .languages {
      margin: 0;
      padding: 0;
      font-size: 10px;
      text-align: center;
      li {
        display: inline-block;
        margin-inline: 7px;
        cursor: pointer;
      }
    }
  }
  .subsLogin {
    flex: 1;
    font-size: 11px;
    text-align: end;
    a {
      @include headerBtns;
      padding: 8px 12px;
      background-color: #567b95;
      border: 1px solid #326891;
      height: 11px;
      color: #fff;
      &:nth-child(2) {
        margin-left: 7px;
      }
    }
  }
}
.HeaderBottomSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
  border-bottom: 1px solid rgb(230, 227, 227);
  & > * {
    flex: 1;
  }
  .dateAndPaperToday {
    text-align: start;
    font-size: 12px;
    .dateToday {
      font-weight: 700;
      display: block;
    }
  }
  .logo {
    text-align: center;
    img {
      width: 50rem;
      height: 7.14rem;
    }
  }
  .financeAndWeather {
    text-align: end;
    vertical-align: middle;

    .sectionWrapper {
      width: 6.5rem;
      margin-left: auto;

      .weatherInfo {
        font-size: 10.6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        :nth-child(1),
        :nth-child(2) {
          font-weight: 500;
          font-size: 13px;
        }
        img {
          width: 30px;
          margin-left: auto;
        }
      }
      .financeInfo {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
      }
    }
  }
}
.HeaderTopSectionPhone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}
.HeaderBottomSectionPhone {
  font-size: 9px;
  display: flex;
  border: 1px solid rgb(228, 225, 225);
  border-left: 0;
  border-right: 0;
  position: absolute;
  right: 0;
  left: 0;
  margin: 11px 0;
  padding: 0.6rem 1rem;
  justify-content: space-between;

  @include respond(phone) {
    background-color: rgb(248, 247, 247);
  }
  .date {
    font-weight: 700;
  }
  .date2 {
    @include respond(phone) {
      visibility: hidden;
    }
  }
  .date1 {
    @include respond(phone) {
      visibility: visible !important;
    }
    @include respond(tab-land) {
      visibility: hidden;
    }
  }
  a {
    color: rgb(50, 104, 145);
  }
}

.DesktopSideNavigation {
  background: rgb(255, 255, 255);
  border-radius: 3px;
  border-right: 1px solid rgb(204, 204, 204);
  box-shadow: rgb(0 0 0 / 10%) 4px 0px 6px 1px;
  height: 100%;
  left: 0px;
  padding: 10px 18px;
  position: fixed;
  top: 0px;
  width: 190px;
  z-index: 999;
  li {
    font-size: 14px;
    font-weight: 700;
    padding: 7px;
    margin-bottom: 3px;
    cursor: pointer;
    &:hover {
      background-color: rgb(240, 248, 252);
      border-radius: 3px;
    }
  }
}
.MobileNavigation {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  .navHead {
    display: flex;
    justify-content: space-between;
    padding: 1rem 13px;
    align-items: center;
    border-bottom: 1px solid rgb(228, 225, 225);
    .cancelIcon {
      width: 30px;
      height: 30px;
      display: block;
    }
  }
  .MobileNavSection {
    width: 60%;
    margin: 0 auto;
    margin-top: 1.4rem;
    form,
    form div {
      width: 100%;
      display: flex;
    }
  }
}
// helpers
.hide {
  display: none;
}
.show {
  display: block;
}
.backgroundColorClicked {
  background-color: #f7f7f7;
}
