@import "../../../../styles/mixins.scss";

.desktopNavBar {
  @include respond(tab-land) {
    display: none;
  }
  margin: 0 auto;
  ul {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    gap: 1.4rem;
    overflow: hidden;
    padding: 8px 0;
    li {
      text-align: center;
      font-size: 14px;
    }
  }
}
